@import "./styles/variables.css";
/* @import "./styles/fluid-type.css"; */
@import "./styles/fluid.css";
@import "./styles/typography.css";

@import "./styles/animation.css";
@import "./styles/accessibility.css";
@import "./styles/utils.css";

@import "./styles/main.css";

@import "tailwindcss";

@import "./styles/grid.css";

@theme {
	--font-sans: soh, sans-serif;

	--text-32: 3.2rem;
	--text-32--line-height: 1.2;
	--text-32--font-weight: 900;

	--text-18: 1.8rem;
	--text-18--line-height: 1.2;
	--text-18--font-weight: 400;

	--text-16: 1.6rem;
	--text-16--line-height: 1.2;
	--text-16--font-weight: 400;

	--spacing: 0.1rem;
	--spacing-gutter: 1rem;
	--spacing-margin: 2rem;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
	user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

/* make images not draggable */
img {
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
}

/* main styles */
body {
	@apply font-sans;
}

main {
	min-height: 100svh;
}

/* utilities */
@layer utilities {
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contain {
		@apply mx-auto;
		max-width: var(--max-w);
	}
}

html,
body {
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: none;
}

#app {
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}
