@import "./styles/variables.css";
@import "./styles/fluid-type.css";
@import "./styles/typography.css";

@import "./styles/animation.css";
@import "./styles/accessibility.css";
@import "./styles/utils.css";

@import "./styles/main.css";

@import "tailwindcss";

@import "./styles/grid.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: Inter, Helvetica, sans-serif;
	--font-display: TWKLausanne, Helvetica, sans-serif;

	--color-primary: #fff;
	--color-inverted: #181818;
	--color-gry: #767b80;

	--radius-md: 1.2rem;
	--radius-lg: 1.6rem;

	--text-32: max(var(--min-font-size), 3.2rem);
	--text-32--line-height: 1.2;
	--text-32--font-weight: 900;
	--text-32--letter-spacing: -0.02em;

	--text-18: max(var(--min-font-size), 1.8rem);
	--text-18--line-height: 1.2;
	--text-18--font-weight: 700;
	--text-18--letter-spacing: -0.02em;

	--text-16: max(var(--min-font-size), 1.6rem);
	--text-16--line-height: 1.2;
	--text-16--font-weight: 400;
	--text-16--letter-spacing: -0.02em;

	--text-14: max(var(--min-font-size), 1.4rem);
	--text-14--line-height: 1.2;
	--text-14--font-weight: 400;
	--text-14--letter-spacing: -0.02em;

	--text-12: max(var(--min-font-size), 1.2rem);
	--text-12--line-height: 1.2;
	--text-12--font-weight: 400;
	--text-12--letter-spacing: -0.02em;

	--spacing: 0.1rem;
	--spacing-gutter-1: var(--grid-gutter);
	--spacing-gutter-2: calc(var(--grid-gutter) * 2);
	--spacing-gutter-3: calc(var(--grid-gutter) * 3);

	--spacing-margin-1: var(--grid-margin);
	--spacing-margin-2: calc(var(--grid-margin) * 2);
	--spacing-margin-3: calc(var(--grid-margin) * 3);
}

html[data-theme="dark"] {
	--color-primary: #141414;
	--color-inverted: #ffffff;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

* {
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
	user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

/* make images not draggable */
img {
	user-drag: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
}

/* main styles */
body {
	@apply font-sans;
}

main {
	min-height: 100svh;
}

/* utilities */
@layer utilities {
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contain {
		@apply mx-auto;
		max-width: var(--max-w);
	}
}

html,
body {
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: none;
	@apply bg-primary text-inverted;
}

#app {
	height: 100%;
	overflow-y: auto;
	overscroll-behavior-y: none;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: clip;
}
