:root {
	--grid-margin: 2rem;
	--grid-gutter: 1rem;
	--grid-columns: 12;
	--max-scaling-width: 1920px;
	--min-font-size: 12px;
}

@media (max-width: 768px) {
	:root {
		--grid-gutter: 0.5rem;
		--grid-columns: 6;
	}
}
