.nav-panel {
	--duration: 0.995s;
	--ease: var(--ease-expo-out);

	display: grid;
	transition:
		grid-template-rows var(--duration) var(--ease),
		content-visibility var(--duration) var(--ease);
	grid-template-rows: 0fr;

	&[data-open="true"] {
		grid-template-rows: 1fr !important;

		& [data-accordion="icon"] {
			transform: rotate(180deg);
			color: var(--color-black);
		}
	}
}
